@font-face {
  font-family: "retro_gaming" ;
  src: url(/retro_gaming.ttf);
}

header {
  background-color: rgba(241, 122, 54, 0.821);
  height: 100px;
  display: flex;
  
}

h1 {
  font-family: "retro_gaming";
  align-items: center;

}
  
#logo{
  border-radius: 20px;

}

img {
  display: inline-block;
  max-width:300px;
  max-height:150px;
  width: auto;
  height: auto;
  border: solid black;
  border-radius: 5px;
}

